extend layout.pug

block main
    div(class="row content")
        div(class="col-sm-7 col-xs-12")
            h1 Nu är det sista kursen med dbwebb...
            p Vilket är mycket sorgligt.
            br
            p Vi ska lära oss arbeta med ramverk och server i javascript på olika sätt. 
            p Det kommer att bli spännande och utmanande, det är jag säker på.
            div(class="last")
                p Länk till Ramverk2 på <a href="www.github.com/guni12/ramverk2">github</a>
        div(class="col-sm-5 col-xs-12")
            img(class="img-thumbnail img-responsive", src="/images/fullstack.jpg")
            div(class="post-content")
                a(href="https://www.packtpub.com/books/content/devops-engineering-and-full-stack-development") img-source
            
